<template>
    <div>Body</div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Hello World'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
    background-color: green;
}
</style>
